body{
  background-color: antiquewhite;
  overflow: hidden;
}

.color__picker__container{
  display: flex;
  cursor: pointer;
}
.color__picker {
  margin: 10px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 0 5px;
  border-radius: 30px;
  align-items: center;
  height: 50px;
  
}

.color__picker > span {
  padding: 5px;
  border-radius: 50%;
}

.color__picker > span > strong {
 margin: 0 2px;
 color: gray;
 font-size: 2rem;
 font-weight: 800;
}

.color__schemes {
  padding-right: 10px ;
  padding-left: 8px ;
  display: flex;
}

.color__schemes > button {
  width: 30px;
  height: 22px;
  border:none;
  outline: none;
  /* transition: all 0.1s ease-out; */
  cursor: pointer;
}

.color__schemes > button:hover {
  transform: scale(1.3);
} 

.color__schemes > button:first-child{
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
}
.color__schemes > button:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 5px;
}
